.userdropdown {
  position: absolute;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 3px;
  box-shadow: 0 0 3px #000;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  top: 95px;
  right: 0;
  transition: all 0.2s ease-in;
}
.userdropdown.displayed {
  visibility: visible;
  opacity: 1;
}
.userdropdown p {
  margin-bottom: 0;
  text-decoration: underline;
  font-weight: 500;
}
.userdropdown p:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.search-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.98);
  text-align: center;
  padding-top: 300px;
  z-index: 30;
}
.search-mobile input {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.loginasMobile {
  margin-bottom: 50px;
  border-radius: 5px;
  border-bottom: 2px solid black;

  display: flex;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.loginasMobile p {
  margin-bottom: 0;
  font-weight: 500;
}
.searchbutton {
  background-color: black;
  margin-top: 30px;
  font-size: 1.5rem;
}
@media screen and (max-width: 800px) {
  .userdropdown {
    position: fixed;
    right: -100%;
    width: 70%;
    height: 80px;
    font-size: 2rem;
    opacity: 1;
    height: 100%;
    top: 0;
    padding-top: 190px;
    align-items: flex-start;
    transition: all 0.15s ease-in;
  }
  .userdropdown.displayed {
    right: 0;
  }
  .userdropdown p {
    margin-bottom: 0;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid black;
    border-radius: 5px;
  }
}
