.selectDelivery {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.summary h5 {
  margin-bottom: 0;
}
.budas {
  margin-top: 30px;
}
.buy {
  border: none;
  background-color: none;
}
@media screen and (max-width: 600px) {
  .selectDelivery {
    width: 90%;
  }
}
