.wrapper {
  width: 1000px;
  margin-top: 30px;
}
.selection {
  display: grid;
  grid-template-columns: 45% 55%;
  box-shadow: 0 0 10px #000;
  border-radius: 3px;
  width: 100%;
  background: rgba(255, 255, 255, 0.98);
}
.selection > div {
  min-width: 0;
  min-height: 0;
}

.left img {
  width: 100%;
  border-radius: 3px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  padding-right: 0;
}

.right h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}
.right h2 {
  margin-bottom: 20px;
}

.right p {
  margin-bottom: 0rem;
  font-size: 1.2rem;
}
.buy {
  margin-top: 35px;
  background-color: black;
  width: 180px;
}
.selectP {
  width: 180px;
}
.selectP.pristatymas {
  width: 100%;
}
.atsiliepimai {
  margin-top: 20px;
  text-decoration: underline;
}
.atsiliepimai:hover {
  cursor: pointer;
  font-weight: 500;
}
.kiekis {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
input {
  border: 2px solid black;
  text-align: center;
}
.kiekis p {
  margin-right: 20px;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.pliusminus {
  color: black;
}
.pliusminus:hover {
  cursor: pointer;
}
.info {
  background: rgba(255, 255, 255, 0.98);
  margin-top: 30px;
  min-height: 100px;
  box-shadow: 0 0 10px #000;
  border-radius: 3px;
  width: 100%;
  padding: 30px;
}
.descriptions li {
  font-size: 1.1rem;
}
.info ul {
  width: 100%;
}
.info ul li {
  width: 100%;
  height: auto;
  word-wrap: break-word;
}
.product-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.alertDanger {
  position: absolute;
  top: -5px;
  left: 185px;
}
.alertSuccess {
  position: absolute;
  bottom: -10px;
  left: 187px;
}
.kaina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.toliau {
  background-color: black;
  margin-top: 20px;
}

@media screen and (max-width: 1020px) {
  .wrapper {
    width: 100%;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 720px) {
  .right {
    padding: 60px;
  }
  .selection {
    grid-template-columns: 1fr;
  }
  .left img {
    width: 80%;
    border-radius: 3px;
  }
  .product-form {
    width: 120%;
    align-items: center;
  }

  input {
    width: 70px;
    height: 50px;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .right {
    align-items: center;
    position: relative;
  }
  .selectP,
  .buy {
    width: 60%;
  }

  .kaina {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .kaina p {
    font-size: 1.4rem;
    margin-right: 10px;
  }
  .kaina h2 {
    margin-bottom: 0;
  }
  .kaina {
    margin-bottom: 20px;
  }
  .right h4 {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .info ul li {
    font-size: 0.8rem;
  }
  h4,
  h2,
  p {
    font-size: 1rem;
  }
  .kaina p {
    font-size: 1rem;
  }
  .right p {
    font-size: 1rem;
  }
  .buy {
    width: 100%;
  }
}
